[Desktop Entry]
  Type=Application
  Name=Dashboard
  Comment=Launch Dashboard
  NoDisplay=false
  Exec=/bin/bash -c "cd {CURRENT_DIR} && python3 {FILENAME}"